@{
    ViewData["Title"] = "Home Page";
}
<div class="info">
    <h3>Hi, I'm <span>Manish Shrestha.</span></h3>
    <h1><span>W</span>EB <span>D</span>EVELOPER</h1>
    <h3>I have learned the HTML CSS JS And .NET core Framework. I create websites to do businesses do better online.</h3>
    <a href="#">Hire Me</a>
</div>
<div class="image">
    <img src="~/image/image.jpg" alt="My picture" class="boy">
</div>
  

